
.caja {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation: mover 4s linear infinite;
  }
  
  @keyframes mover {
    0% {
      border-radius: 0%;
      top: 0;
      left: 0;
    }
    25% {
      border-radius: 50%;
      top: calc(100vh - 100px);
      left: 0;
    }
    50% {
      border-radius: 50%;
      top: calc(100vh - 100px);
      left: calc(100vw - 100px);
    }   
    75% {
      border-radius: 50%;
      top: 0;
      left: calc(100vw - 100px);
    }
    100% {
      border-radius: 50%;
      top: 0;
      left: 0;
    }
  }
  