*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#0C151D;
    font-family: Arial, sans-serif;
}


a {
    text-decoration: none;
}
/* HEADER*/
header {
    width: 100%;
    height: 72px;
    background-color: #171f266b;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin-bottom: 40px;
}
header span {
    margin-top: 30px;
    font-weight: bold;

}


header span a {
    color: #14A1F0 ;
}

nav ul{
    display:flex;
    justify-content: space-around;
    width: 400px;
    margin-top: 30px;
}

nav ul li a{
    color: #14A1F0 ;
}


nav ul li{
    list-style-type: none;
}

header span a:hover{
    color: white;
}

nav ul li a:hover{
    color: white ;  
}

#container {
    background-color: #f8f8f8;
    position: relative;
    width: 50px;
    height: 30px;
    box-shadow: inset 4px 4px 6px #cecece,  
                      2px 2px 6px #ffffff;  /* x, y, blur, color */
    margin: 0 0;   
    margin-top: 20px;
    cursor: pointer;
    border-radius: 25px;

}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    transform: scale(.7);
    background: linear-gradient(145deg, #d8d8d8, #ffffff); /* Cambia a background */
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
    
}

#container.active .toggle {
    left: 15px;
}

body.active {
    background-color: black;
}

/* */
#container-principal {
    display: flex;
    margin: auto; /* Centra horizontalmente */
    margin-top: 20px; /* Ajusta este valor según lo que necesites */
    width: 500px;
    height: 150px;
}


#foto-perfil { 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 25px;
    border: 4px solid #14A1F0;
}

#info-principal {
    width: 300px;
    height: 100px;
    margin-top: 40px;
}

#info-principal h1{
    color: white;
}

#info-principal span{
    color: #14A1F0;
}

#info-extra {

    width: 500px;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: white;
}

.azul {
    color: #14A1F0;
}


#boton {

    display: flex; /* Hacer del contenedor un flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100px; /* Altura del contenedor (ajusta según necesites) */
    background-color: #ffffff00; /* Color de fondo para visualizar */
    width: 500px;
    height: 50px;
    margin: auto;
    margin-top: -100px;
    background-color: #00588b00;
    border-radius: 15px;

}

#boton p {
    margin: 0; /* Eliminar márgenes para evitar desplazamientos */
}

#boton p a {
    display: flex; /* Hacer que el enlace se comporte como flex */
    align-items: center; /* Centra verticalmente dentro del enlace */
    font-size: 20px;
    text-decoration: none; /* Quitar subrayado si lo deseas */
    color: #ffffff; /* Color del texto */
    padding: 10px; /* Relleno alrededor del texto del enlace */
    border: 1px solid #14A1F0;; /* Bordes opcionales */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

#texto {
    text-align: left; /* Centra el texto horizontalmente */
    margin: auto; /* Opcional: centra el contenedor en su elemento padre */
    width: 80%; /* Ancho del contenedor (ajusta según necesites) */
    max-width: 600px; /* Ancho máximo para pantallas grandes */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */

    color: white;
}